#topbar {
  float:right;
  display:inline;
  margin-top: 20px;
  text-decoration: none;

}
#center {
  width:269px;
  clear:both;
  margin:auto;
}

#footer {
  background:#e7e7e7;
  height: 30px;
  position: absolute;
  bottom: 0px;
  width:100%;
  left: 0px;
  border-top: 1px solid #cccccc;
}

#logo {
  margin-top:150px;
  width:100%;

}
input {
  margin-left: auto;
  margin-right: auto;
}
input:first-of-type {
  margin-top: 10px;
  width: 400px;
  height: 25px;
}
